<!DOCTYPE html>
<html>
<head> 
  <link rel="stylesheet" href="/assets/css/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet"> 
  <title>{{ page.title }}</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/radio-control">Radio Control</a></li>
      <li><a href="/tai-chi">Tai Chi</a></li>
    </ul>
  </nav>
  <div class="body-container">
    
    <div class="container">
      {{content}}
    </div>
  </div>
</body>
</html>
